.orderCard {
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    margin: 16px; 
    display: flex; 
    flex-direction: column; 
    
  }

  .orderh2{
    color: #333333;
  }
  
  .orderHeader {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid #e0e0e0; 
    padding-bottom: 8px; 
  }
  
  .orderDetails {
    display: flex; 
    justify-content: space-between; 
    padding: 12px 0; 
  }
  
  h2 {
    font-size: 20px; 
    color: #333333; 
    margin: 0; 
  }
  
  p {
    font-size: 16px; 
    color: #666666; 
    margin: 0; 
  }
  
  .detailsButton {
    background-color: #d3005f; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 8px 10px; 
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s; 
    margin-top: 12px; 
  }
  
  .detailsButton:hover {
    background-color: #ff2d62; 
  }

  .modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 24px;
    outline: none;
  }
  
  .modalContent {
    margin-top: 16px;
  }
  
 
  
  .buttonclose:hover {
    color:#d3005f;
    
  }
  .buttonclose{
    color: green;
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  .detalhes{
    color: #d3005f;
  }
  