/* src/modules/cart/styles/Cart.module.css */
.cartContainer {
  padding: 20px;
}

.title{
  color: rgb(0, 0, 0);
  font-size: 25px;
  
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.imgproduct{
  margin-right: 30px;
}

.cartItemActions {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between; /* Espaçamento uniforme entre os itens */
}

.cartQuantityContainer {
  display: flex;
  align-items: center;
}

.quantityButton {
  background-color: #c1c1c1; /* Azul padrão */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Efeito de hover */
  margin: 0 5px; /* Margem entre os botões */
  font-size: 18px; /* Tamanho do texto dos botões */
}

.quantityButton:hover {
  background-color: #d3d3d3; /* Azul mais escuro ao passar o mouse */
  transform: translateY(-1px); /* Levanta o botão ao passar o mouse */
}

.cartQuantity {
  font-size: 16px; /* Tamanho da quantidade */
  margin: 0 10px; /* Espaçamento entre os botões e o número */
}

.orderSummary {
  margin-top: 20px; /* Espaço acima dos botões */
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* Espaçamento uniforme entre os botões */
  margin-top: 20px; /* Espaço acima dos botões */
}

.orderButton,
.emptyCartButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s; /* Efeito de hover */
}

.orderButton {
  background-color: #28a745; /* Verde padrão */
}

.emptyCartButton {
  background-color: #ff4d4d; /* Vermelho padrão */
}

.orderButton:hover {
  background-color: #218838; /* Verde mais escuro ao passar o mouse */
  transform: translateY(-1px); /* Levanta o botão ao passar o mouse */
}

.emptyCartButton:hover {
  background-color: #e60000; /* Vermelho mais escuro ao passar o mouse */
  transform: translateY(-1px); /* Levanta o botão ao passar o mouse */
}

.removeButton {
  background-color: #dc3545; /* Vermelho para remover */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.removeButton:hover {
  background-color: #c82333; /* Vermelho mais escuro ao passar o mouse */
}

.cartContainer {
  padding: 20px;
  color: black; /* Define a cor preta para todo o texto dentro do container */
}

h1, h2, p, span, button {
  color: black; /* Assegura que todos os títulos, parágrafos, spans e botões tenham o texto em preto */
}

