/* Estilo do Cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff; /* Ajuste conforme necessário */
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-logo {
  max-width: 150px; /* Ajuste o tamanho da logo conforme necessário */
  margin-right: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.header-subtitle {
  font-size: 14px;
  color: #d9534f; /* Vermelho para o destaque */
  margin-bottom: 10px;
  text-transform: uppercase;
}

.header-title {
  font-size: 32px;
  line-height: 1.2;
  color: #333;
  margin-bottom: 20px;
}

.header-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #d9534f; /* Cor do botão em vermelho */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #c9302c; /* Cor do botão ao passar o mouse */
}


/* Estilo Geral das Seções */
.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.sale-section, .must-have-section, .reviews-section, .blog-section {
  padding: 40px 20px;
}

.sale-items, .must-have-items, .reviews-items, .blog-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Estilo dos Itens de Venda */
.sale-item {
  flex: 1 1 calc(33.33% - 20px);
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sale-item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilo dos Itens Obrigatórios */
.must-have-item {
  flex: 1 1 calc(33.33% - 20px);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
}

.must-have-item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.new-price {
  color: #27ae60;
  font-weight: bold;
}

/* Estilo dos Itens de Avaliação */
.review-item {
  flex: 1 1 calc(33.33% - 20px);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Estilo das Postagens do Blog */
.blog-item {
  flex: 1 1 calc(33.33% - 20px);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.blog-item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
